<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="bank">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">929184318</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bank</property>
  <property name="hibernate.connection.username">zhuke</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.show_sql">true</property>
  <mapping class="com.bank.entity.User" resource="com/bank/entity/User.hbm.xml"/>
  <mapping class="com.bank.entity.BankRecord" resource="com/bank/entity/BankRecord.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
